<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>


<h1>About Me</h1>
<img class="profileImg" src="/images/samantha-profile.jpg" ></img>
<div class="aboutInfo"
  <br>
  <img class="icon" src="/images/pencil-icon.png"><p>Hello! I specialise in graphite portraits. A great gift idea for many occasions! I am available to take commissions of pets or any other animal request. </p>
  <img class="icon" src="/images/pencil-icon.png"><p>All artwork is created in graphite and/or coloured pencil.</p>
  <img class="icon" src="/images/pencil-icon.png"><p>Pictures may take between 15 - 50+ hours depending on the size and number of subjects.</p>
  <img class="icon" src="/images/pencil-icon.png"><p>Please allow time for delivery as well if required for a specific date.</p>
  <img class="icon" src="/images/pencil-icon.png"><p>Art can be created with the use of photographs. As reference, a good quality photo(s) can either be posted (which will be returned with the finished product) or preferably, contact me via the Contact Me form <span><a class="spanAbout" href="/contact">here.<a/></span>
  </p>
</div>

<% include ./include/scripts %>
<% include ./include/footer %>
    </body>
</html>
