<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>

<form class="goBack" action="/gallery" method="GET">
  <button class="btn btn-link btn-transparent" type="submit" name="button">Go Back</button>
</form><br>

<h1>The British Birds Gallery</h1>

<hr>

<div class="col-container">
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/britishBirds/british-birds-the-raven.jpg" alt="Raven">
    <div class="card-body">
      <h2 class="card-title">Raven</h2>
      <p class="card-text">Graphite on A3 of a Raven.</p>
    </div>
  </div>
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/britishBirds/british-birds-the-sparrow.jpg" alt="Sparrow">
    <div class="card-body">
      <h2 class="card-title">Sparrow</h2>
      <p class="card-text">Graphite on A4 of a Sparrow.</p>
    </div>
  </div>
</div>
<div class="col-container">
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/britishBirds/british-birds-the-chaffinch.jpg" alt="Chaffinch">
    <div class="card-body">
      <h2 class="card-title">Chaffinch</h2>
      <p class="card-text">Graphite on A4 of a Chaffinch.</p>
    </div>
  </div>
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/britishBirds/british-birds-the-kingfisher.jpg" alt="Kingfisher">
    <div class="card-body">
      <h2 class="card-title">Kingfisher</h2>
      <p class="card-text">Graphite on A4 of a Kingfisher that's caught a fish.</p>
    </div>
  </div>
</div>
<% include ./include/scripts %>
        <% include ./include/footer %>
</body>
</html>
