<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>
        <div class="container">
            <div class="row">
                <h1>Thank you for your Enquiry!</h1>
            </div>
            <hr>
            <div class="row" style="height:300px;">
                <p>Thank you for contacting me.</p>
                <p>Unfortunately, something went wrong. Please try again.</p>
                <button action="/contact" type="submit" class="btn btn-warning btn-lg btn-form" id="submit">Submit</button>

            </div>
        </div>
        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>
