<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js">
</script>
<script src="https://cdn.jotfor.ms/js/vendor/imageinfo.js?v=3.3.13842"
        type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/file-uploader/fileuploader.js?v=3.3.13842">
</script>
<script src="https://cdn.jotfor.ms/js/vendor/jquery-1.8.0.min.js?3.3.13842"
        type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/js/vendor/autoFill.min.js?v=3.3.13842"
        type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js"
        type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.13842"
        type="text/javascript"></script>
<script type="text/javascript">
  JotForm.init(function() {
    setTimeout(function() {
      $('input_4').hint('ex: myname@example.com');
    }, 20);
    JotForm.calendarMonths = ["January", "February", "March", "April", "May",
      "June", "July", "August", "September", "October", "November", "December"
    ];
    JotForm.calendarDays = ["Sunday", "Monday", "Tuesday", "Wednesday",
      "Thursday", "Friday", "Saturday", "Sunday"
    ];
    JotForm.calendarOther = {
      "today": "Today"
    };
    var languageOptions = document.querySelectorAll('#langList li');
    for (var langIndex = 0; langIndex < languageOptions.length; langIndex++) {
      languageOptions[langIndex].on('click', function(e) {
        setTimeout(function() {
          JotForm.setCalendar("8", true, {
            "days": {
              "monday": true,
              "tuesday": true,
              "wednesday": true,
              "thursday": true,
              "friday": true,
              "saturday": true,
              "sunday": true
            },
            "future": true,
            "past": false,
            "custom": false,
            "ranges": false,
            "start": "",
            "end": ""
          });
        }, 0);
      });
    }
    JotForm.setCalendar("8", true, {
      "days": {
        "monday": true,
        "tuesday": true,
        "wednesday": true,
        "thursday": true,
        "friday": true,
        "saturday": true,
        "sunday": true
      },
      "future": true,
      "past": false,
      "custom": false,
      "ranges": false,
      "start": "",
      "end": ""
    });
    setTimeout(function() {
      JotForm.initMultipleUploads();
    }, 2);
    setTimeout(function() {
      JotForm.autoFillInitialize({
        "bindChange": "on",
        "menu": "enable",
        "timeout": "4",
        "ttl": "86400"
      });
    }, 10) /*INIT-END*/
  });
  JotForm.prepareCalculationsOnTheFly([null, {
    "name": "contactMe",
    "qid": "1",
    "text": "Contact Me",
    "type": "control_head"
  }, null, {
    "name": "name",
    "qid": "3",
    "text": "Name",
    "type": "control_fullname"
  }, {
    "name": "email4",
    "qid": "4",
    "text": "E-mail",
    "type": "control_email"
  }, {
    "name": "uploadPhoto",
    "qid": "5",
    "subLabel": "Add your image(s) to be used as references",
    "text": "Upload Photo",
    "type": "control_fileupload"
  }, {
    "name": "comments6",
    "qid": "6",
    "subLabel": "Anything else, just ask!",
    "text": "Comments",
    "type": "control_textarea"
  }, null, {
    "description": "",
    "name": "isThere",
    "qid": "8",
    "text": "Is there a date you require this to be completed?",
    "type": "control_datetime"
  }, {
    "description": "",
    "name": "whatSize",
    "qid": "9",
    "subLabel": "See Prices page for size details.",
    "text": "What size would you like?",
    "type": "control_dropdown"
  }, {
    "description": "",
    "name": "wouldYou",
    "qid": "10",
    "subLabel": "",
    "text": "Would you like your image produced in Graphite, Colour, or Both?",
    "type": "control_dropdown"
  }, {
    "description": "",
    "name": "wouldYou11",
    "qid": "11",
    "subLabel": "For Delivery Purposes Only",
    "text": "Would you prefer your image to be Flat or Rolled?",
    "type": "control_dropdown"
  }, null, {
    "description": "",
    "name": "pleaseVerify",
    "qid": "13",
    "text": "Please verify that you are human",
    "type": "control_captcha"
  }, {
    "name": "submit",
    "qid": "14",
    "text": "SUBMIT FORM",
    "type": "control_button"
  }, null, null, null, null, null, null, null, null, null, {
    "name": "customiseYour",
    "qid": "24",
    "text": "Customise your request below:",
    "type": "control_collapse"
  }, {
    "name": "divider25",
    "qid": "25",
    "type": "control_divider"
  }, {
    "name": "divider26",
    "qid": "26",
    "type": "control_divider"
  }, {
    "name": "divider",
    "qid": "27",
    "type": "control_divider"
  }, {
    "name": "divider28",
    "qid": "28",
    "type": "control_divider"
  }, {
    "name": "divider29",
    "qid": "29",
    "type": "control_divider"
  }, {
    "name": "divider30",
    "qid": "30",
    "type": "control_divider"
  }]);
  setTimeout(function() {
    JotForm.paymentExtrasOnTheFly([null, {
      "name": "contactMe",
      "qid": "1",
      "text": "Contact Me",
      "type": "control_head"
    }, null, {
      "name": "name",
      "qid": "3",
      "text": "Name",
      "type": "control_fullname"
    }, {
      "name": "email4",
      "qid": "4",
      "text": "E-mail",
      "type": "control_email"
    }, {
      "name": "uploadPhoto",
      "qid": "5",
      "subLabel": "Add your image(s) to be used as references",
      "text": "Upload Photo",
      "type": "control_fileupload"
    }, {
      "name": "comments6",
      "qid": "6",
      "subLabel": "Anything else, just ask!",
      "text": "Comments",
      "type": "control_textarea"
    }, null, {
      "description": "",
      "name": "isThere",
      "qid": "8",
      "text": "Is there a date you require this to be completed?",
      "type": "control_datetime"
    }, {
      "description": "",
      "name": "whatSize",
      "qid": "9",
      "subLabel": "See Prices page for size details.",
      "text": "What size would you like?",
      "type": "control_dropdown"
    }, {
      "description": "",
      "name": "wouldYou",
      "qid": "10",
      "subLabel": "",
      "text": "Would you like your image produced in Graphite, Colour, or Both?",
      "type": "control_dropdown"
    }, {
      "description": "",
      "name": "wouldYou11",
      "qid": "11",
      "subLabel": "For Delivery Purposes Only",
      "text": "Would you prefer your image to be Flat or Rolled?",
      "type": "control_dropdown"
    }, null, {
      "description": "",
      "name": "pleaseVerify",
      "qid": "13",
      "text": "Please verify that you are human",
      "type": "control_captcha"
    }, {
      "name": "submit",
      "qid": "14",
      "text": "SUBMIT FORM",
      "type": "control_button"
    }, null, null, null, null, null, null, null, null, null, {
      "name": "customiseYour",
      "qid": "24",
      "text": "Customise your request below:",
      "type": "control_collapse"
    }, {
      "name": "divider25",
      "qid": "25",
      "type": "control_divider"
    }, {
      "name": "divider26",
      "qid": "26",
      "type": "control_divider"
    }, {
      "name": "divider",
      "qid": "27",
      "type": "control_divider"
    }, {
      "name": "divider28",
      "qid": "28",
      "type": "control_divider"
    }, {
      "name": "divider29",
      "qid": "29",
      "type": "control_divider"
    }, {
      "name": "divider30",
      "qid": "30",
      "type": "control_divider"
    }]);
  }, 20);
</script>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.13842" rel="stylesheet"
      type="text/css" />
<link type="text/css" media="print" rel="stylesheet"
      href="https://cdn.jotfor.ms/css/printForm.css?3.3.13842" />
<link type="text/css" rel="stylesheet"
      href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.13842" />
<link type="text/css" rel="stylesheet"
      href="https://cdn.jotfor.ms/themes/CSS/548aa20a700cc46d638b4567.css?themeRevisionID=5b54cfd71424cd318162dd31" />
<style type="text/css">
  .form-label-left {
    width: 200px;
  }

  .form-line {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .form-label-right {
    width: 200px;
  }

  .form-all {
    width: 690px;
    color: #1b1c4e !important;
    font-family: 'Roboto';
    font-size: 16px;
  }
</style>
<style type="text/css" id="form-designer-style">
  /* Injected CSS Code */
  @import "https://fonts.googleapis.com/css?family=Roboto:light,lightitalic,normal,italic,bold,bolditalic";

  .form-all:after {
    content: "";
    display: table;
    clear: both;
  }

  .form-all {
    font-family: "Roboto", sans-serif;
  }

  .form-all {
    width: 690px;
    width: 100%;
    max-width: 690px;
  }

  .form-label-left,
  .form-label-right {
    width: 200px;
  }

  .form-label {
    white-space: normal;
  }

  .form-label.form-label-auto {
    display: block;
    float: none;
    word-break: break-word;
    text-align: left;
  }

  .form-label-left {
    display: inline-block;
    white-space: normal;
    float: left;
    text-align: left;
  }

  .form-label-right {
    display: inline-block;
    white-space: normal;
    float: left;
    text-align: right;
  }

  .form-label-top {
    white-space: normal;
    display: block;
    float: none;
    text-align: left;
  }

  .form-radio-item label:before {
    top: 0;
  }

  .form-all {
    font-size: 16px;
  }

  .form-label {
    font-weight: bold;
  }

  .form-checkbox-item label,
  .form-radio-item label {
    font-weight: normal;
  }

  .supernova {
    background-color: #d2d4db;
    background-color: #1b1c4e;
  }

  .supernova body {
    background-color: transparent;
  }

  /*
@width30: (unit(@formWidth, px) + 60px);
@width60: (unit(@formWidth, px)+ 120px);
@width90: (unit(@formWidth, px)+ 180px);
*/
  /* | */
  @media screen and (min-width: 480px) {
    .supernova .form-all {
      border: 1px solid #0e0e28;
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    }
  }

  /* | */
  /* | */
  @media screen and (max-width: 480px) {
    .jotform-form .form-all {
      margin: 0;
      width: 100%;
    }
  }

  /* | */
  /* | */
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .jotform-form .form-all {
      margin: 0;
      width: 100%;
    }
  }

  /* | */
  /* | */
  @media screen and (min-width: 480px) and (max-width: 689px) {
    .jotform-form .form-all {
      margin: 0;
      width: 100%;
    }
  }

  /* | */
  /* | */
  @media screen and (min-width: 768px) {
    .jotform-form {
      padding: 60px 0;
    }
  }

  /* | */
  /* | */
  @media screen and (max-width: 689px) {
    .jotform-form .form-all {
      margin: 0;
      width: 100%;
    }
  }

  /* | */
  .supernova .form-all,
  .form-all {
    background-color: #d2d4db;
    border: 1px solid transparent;
  }

  .form-header-group {
    border-color: #b6b9c4;
  }

  .form-matrix-table tr {
    border-color: #b6b9c4;
  }

  .form-matrix-table tr:nth-child(2n) {
    background-color: #c4c6d0;
  }

  .form-all {
    color: #1b1c4e;
  }

  .form-header-group .form-header {
    color: #1b1c4e;
  }

  .form-header-group .form-subHeader {
    color: #282a74;
  }

  .form-sub-label {
    color: #282a74;
  }

  .form-label-top,
  .form-label-left,
  .form-label-right,
  .form-html {
    color: #1b1c4e;
  }

  .form-checkbox-item label,
  .form-radio-item label {
    color: #282a74;
  }

  .form-line.form-line-active {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: rgba(32, 65, 237, 0.62);
  }

  /* omer */
  .form-radio-item,
  .form-checkbox-item {
    padding-bottom: 2px !important;
  }

  .form-radio-item:last-child,
  .form-checkbox-item:last-child {
    padding-bottom: 0;
  }

  /* omer */
  [data-type="control_radio"] .form-input,
  [data-type="control_checkbox"] .form-input,
  [data-type="control_radio"] .form-input-wide,
  [data-type="control_checkbox"] .form-input-wide {
    width: 100%;
    max-width: 380px;
  }

  .form-radio-item,
  .form-checkbox-item {
    width: 100%;
    max-width: 380px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-textbox.form-radio-other-input,
  .form-textbox.form-checkbox-other-input {
    width: 80%;
    margin-left: 3%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-multiple-column {
    width: 100%;
  }

  .form-multiple-column .form-radio-item,
  .form-multiple-column .form-checkbox-item {
    width: 10%;
  }

  .form-multiple-column[data-columncount="1"] .form-radio-item,
  .form-multiple-column[data-columncount="1"] .form-checkbox-item {
    width: 100%;
  }

  .form-multiple-column[data-columncount="2"] .form-radio-item,
  .form-multiple-column[data-columncount="2"] .form-checkbox-item {
    width: 50%;
  }

  .form-multiple-column[data-columncount="3"] .form-radio-item,
  .form-multiple-column[data-columncount="3"] .form-checkbox-item {
    width: 33.33333333%;
  }

  .form-multiple-column[data-columncount="4"] .form-radio-item,
  .form-multiple-column[data-columncount="4"] .form-checkbox-item {
    width: 25%;
  }

  .form-multiple-column[data-columncount="5"] .form-radio-item,
  .form-multiple-column[data-columncount="5"] .form-checkbox-item {
    width: 20%;
  }

  .form-multiple-column[data-columncount="6"] .form-radio-item,
  .form-multiple-column[data-columncount="6"] .form-checkbox-item {
    width: 16.66666667%;
  }

  .form-multiple-column[data-columncount="7"] .form-radio-item,
  .form-multiple-column[data-columncount="7"] .form-checkbox-item {
    width: 14.28571429%;
  }

  .form-multiple-column[data-columncount="8"] .form-radio-item,
  .form-multiple-column[data-columncount="8"] .form-checkbox-item {
    width: 12.5%;
  }

  .form-multiple-column[data-columncount="9"] .form-radio-item,
  .form-multiple-column[data-columncount="9"] .form-checkbox-item {
    width: 11.11111111%;
  }

  .form-single-column .form-checkbox-item,
  .form-single-column .form-radio-item {
    width: 100%;
  }

  .form-checkbox-item .editor-container div,
  .form-radio-item .editor-container div {
    position: relative;
  }

  .form-checkbox-item .editor-container div:before,
  .form-radio-item .editor-container div:before {
    display: inline-block;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    width: 18px;
    height: 18px;
  }

  .form-radio-item:not(#foo) {
    position: relative;
  }

  .form-radio-item:not(#foo) .form-radio-other-input,
  .form-radio-item:not(#foo) .form-checkbox-item:not(#foo) .form-checkbox-other-input {
    margin-left: 0;
  }

  .form-radio-item:not(#foo) .form-radio-other.form-radio {
    display: none !important;
  }

  .form-radio-item:not(#foo) input[type="checkbox"],
  .form-radio-item:not(#foo) input[type="radio"] {
    display: none;
  }

  .form-radio-item:not(#foo) .form-radio-other,
  .form-radio-item:not(#foo) .form-checkbox-other {
    display: inline-block !important;
    margin-left: 17px;
    margin-right: 13px;
    margin-top: 2px;
  }

  .form-radio-item:not(#foo) .form-checkbox-other-input,
  .form-radio-item:not(#foo) .form-radio-other-input {
    margin: 0;
  }

  .form-radio-item:not(#foo) label {
    line-height: 18px;
    float: left;
    margin-left: 37px;
  }

  .form-radio-item:not(#foo) label:before {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .form-radio-item:not(#foo) label:after {
    content: '';
    position: absolute;
    z-index: 10;
    display: inline-block;
    opacity: 0;
    top: 5px;
    left: 9px;
    width: 8px;
    height: 8px;
  }

  .form-radio-item:not(#foo) input:checked+label:after {
    opacity: 1;
  }

  .form-radio-item:not(#foo) label:before {
    border: 2px solid #8f8f8f;
  }

  .form-radio-item:not(#foo) label:after {
    background-color: #8f8f8f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
  }

  .form-radio-item:not(#foo) .editor-container div:before {
    content: '';
    border: 2px solid #8f8f8f;
    border-radius: 50%;
    margin: 0 4px 0 -6px;
  }

  .form-checkbox-item:not(#foo) {
    position: relative;
  }

  .form-checkbox-item:not(#foo) label {
    display: block;
  }

  .form-checkbox-item:not(#foo) .form-radio-other-input,
  .form-checkbox-item:not(#foo) .form-checkbox-item:not(#foo) .form-checkbox-other-input {
    margin-left: 0;
  }

  .form-checkbox-item:not(#foo) .form-checkbox-other.form-checkbox {
    display: none !important;
  }

  .form-checkbox-item:not(#foo) input[type="checkbox"],
  .form-checkbox-item:not(#foo) input[type="radio"] {
    display: none;
  }

  .form-checkbox-item:not(#foo) .form-radio-other,
  .form-checkbox-item:not(#foo) .form-checkbox-other {
    display: inline-block !important;
    margin-left: 17px;
    margin-right: 13px;
    margin-top: 2px;
  }

  .form-checkbox-item:not(#foo) .form-checkbox-other-input,
  .form-checkbox-item:not(#foo) .form-radio-other-input {
    margin: 0;
  }

  .form-checkbox-item:not(#foo) label {
    line-height: 18px;
    float: left;
    margin-left: 37px;
  }

  .form-checkbox-item:not(#foo) label:before {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .form-checkbox-item:not(#foo) label:after {
    content: '';
    position: absolute;
    z-index: 10;
    display: inline-block;
    opacity: 0;
    top: 8px;
    left: 9px;
    width: 3px;
    height: 3px;
  }

  .form-checkbox-item:not(#foo) input:checked+label:after {
    opacity: 1;
  }

  .form-checkbox-item:not(#foo) label:before {
    border: 2px solid #8f8f8f;
  }

  .form-checkbox-item:not(#foo) label:after {
    background-color: #8f8f8f;
    box-shadow: 0 2px 0 0 #8f8f8f, 2px 2px 0 0 #8f8f8f, 4px 2px 0 0 #8f8f8f, 6px 2px 0 0 #8f8f8f;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .form-checkbox-item:not(#foo) .editor-container div:before {
    content: '';
    border: 2px solid #8f8f8f;
    border-radius: 50%;
    margin: 0 4px 0 -6px;
  }

  .supernova {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
  }

  .supernova {
    background-image: none;
  }

  #stage {
    background-image: none;
  }

  /* | */
  .form-all {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
  }

  .form-header-group {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }

  .form-line {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .form-line {
    padding: 5px 50px;
  }

  .form-all .form-textbox,
  .form-all .form-radio-other-input,
  .form-all .form-checkbox-other-input,
  .form-all .form-captcha input,
  .form-all .form-spinner input,
  .form-all .form-pagebreak-back,
  .form-all .form-pagebreak-next,
  .form-all .qq-upload-button,
  .form-all .form-error-message {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  .form-all .form-sub-label {
    margin-left: 3px;
  }

  .form-all .form-textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  .form-dropdown {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: button;
    appearance: none;
    margin: 0;
  }

  .form-all {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  .form-section:first-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }

  .form-section:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
  }

  .form-all .qq-upload-button,
  .form-all .form-submit-button,
  .form-all .form-submit-reset,
  .form-all .form-submit-print {
    font-size: 1em;
    padding: 9px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
  }

  .form-all .form-pagebreak-back,
  .form-all .form-pagebreak-next {
    font-size: 1em;
    padding: 9px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
  }

  /*
& when ( @buttonFontType = google ) { @import (css) "@{buttonFontLink}";
}
*/
  h2.form-header {
    line-height: 1.618em;
  }

  h2~.form-subHeader {
    line-height: 1.5em;
  }

  .form-header-group {
    text-align: right;
  }

  .form-line {
    zoom: 1;
  }

  .form-line:before,
  .form-line:after {
    display: table;
    content: '';
    line-height: 0;
  }

  .form-line:after {
    clear: both;
  }

  .form-captcha input,
  .form-spinner input {
    width: 380px;
  }

  .form-textbox,
  .form-textarea {
    width: 100%;
    max-width: 380px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-input,
  .form-address-table,
  .form-matrix-table {
    width: 100%;
    max-width: 380px;
  }

  .form-radio-item,
  .form-checkbox-item {
    width: 100%;
    max-width: 380px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-textbox.form-radio-other-input,
  .form-textbox.form-checkbox-other-input {
    width: 80%;
    margin-left: 3%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-multiple-column {
    width: 100%;
  }

  .form-multiple-column .form-radio-item,
  .form-multiple-column .form-checkbox-item {
    width: 10%;
  }

  .form-multiple-column[data-columncount="1"] .form-radio-item,
  .form-multiple-column[data-columncount="1"] .form-checkbox-item {
    width: 100%;
  }

  .form-multiple-column[data-columncount="2"] .form-radio-item,
  .form-multiple-column[data-columncount="2"] .form-checkbox-item {
    width: 50%;
  }

  .form-multiple-column[data-columncount="3"] .form-radio-item,
  .form-multiple-column[data-columncount="3"] .form-checkbox-item {
    width: 33.33333333%;
  }

  .form-multiple-column[data-columncount="4"] .form-radio-item,
  .form-multiple-column[data-columncount="4"] .form-checkbox-item {
    width: 25%;
  }

  .form-multiple-column[data-columncount="5"] .form-radio-item,
  .form-multiple-column[data-columncount="5"] .form-checkbox-item {
    width: 20%;
  }

  .form-multiple-column[data-columncount="6"] .form-radio-item,
  .form-multiple-column[data-columncount="6"] .form-checkbox-item {
    width: 16.66666667%;
  }

  .form-multiple-column[data-columncount="7"] .form-radio-item,
  .form-multiple-column[data-columncount="7"] .form-checkbox-item {
    width: 14.28571429%;
  }

  .form-multiple-column[data-columncount="8"] .form-radio-item,
  .form-multiple-column[data-columncount="8"] .form-checkbox-item {
    width: 12.5%;
  }

  .form-multiple-column[data-columncount="9"] .form-radio-item,
  .form-multiple-column[data-columncount="9"] .form-checkbox-item {
    width: 11.11111111%;
  }

  [data-type="control_dropdown"] .form-dropdown {
    width: 100% !important;
    max-width: 380px;
  }

  [data-type="control_fullname"] .form-sub-label-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
  }

  [data-type="control_fullname"] .form-sub-label-container:first-child {
    margin-right: 4%;
  }

  [data-type="control_phone"] .form-sub-label-container {
    width: 62.5%;
    margin-left: 2.5%;
    margin-right: 0;
    float: left;
    position: relative;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child {
    width: 32.5%;
    margin-right: 2.5%;
    margin-left: 0;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child [data-component=areaCode] {
    width: 93%;
    float: left;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child [data-component=areaCode]~.form-sub-label {
    display: inline-block;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child .phone-separate {
    position: absolute;
    top: 0;
    right: -16%;
    width: 24%;
    text-align: center;
    text-indent: -4px;
  }

  [data-type="control_birthdate"] .form-sub-label-container {
    width: 22%;
    margin-right: 3%;
  }

  [data-type="control_birthdate"] .form-sub-label-container:first-child {
    width: 50%;
  }

  [data-type="control_birthdate"] .form-sub-label-container:last-child {
    margin-right: 0;
  }

  [data-type="control_birthdate"] .form-sub-label-container .form-dropdown {
    width: 100%;
  }

  [data-type="control_payment"] .form-sub-label-container {
    width: auto;
  }

  [data-type="control_payment"] .form-sub-label-container .form-dropdown {
    width: 100%;
  }

  .form-address-table td .form-dropdown {
    width: 100%;
  }

  .form-address-table td .form-sub-label-container {
    width: 96%;
  }

  .form-address-table td:last-child .form-sub-label-container {
    margin-left: 4%;
  }

  .form-address-table td[colspan="2"] .form-sub-label-container {
    width: 100%;
    margin: 0;
  }

  /*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
  .form-captcha input,
  .form-spinner input,
  .form-error-message {
    padding: 4px 3px 2px 3px;
  }

  .form-header-group {
    font-family: "Roboto", sans-serif;
  }

  .form-section {
    padding: 0px 0px 0px 0px;
  }

  .form-header-group {
    margin: 0px 0px 0px 0px;
  }

  .form-header-group {
    padding: 0px 36px 0px 36px;
  }

  .form-header-group .form-header,
  .form-header-group .form-subHeader {
    color: #1b1c4e;
  }

  .form-header-group {
    background-color: #c4c3d6;
  }

  .form-textbox,
  .form-textarea {
    border-width: 1px;
    border-style: groove;
    border-color: #1b1c4e;
    color: #1b1c4e;
    padding: 6px 10px 4px 10px;
  }

  .form-textbox,
  .form-textarea,
  .form-radio-other-input,
  .form-checkbox-other-input,
  .form-captcha input,
  .form-spinner input {
    background-color: #ffffff;
  }

  .form-textbox {
    height: 40px;
  }

  .form-textarea {
    height: 90px;
  }

  .form-textbox,
  .form-textarea {
    width: 100%;
    max-width: 380px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  [data-type="control_textbox"] .form-input,
  [data-type="control_textarea"] .form-input,
  [data-type="control_fullname"] .form-input,
  [data-type="control_phone"] .form-input,
  [data-type="control_datetime"] .form-input,
  [data-type="control_address"] .form-input,
  [data-type="control_email"] .form-input,
  [data-type="control_passwordbox"] .form-input,
  [data-type="control_autocomp"] .form-input,
  [data-type="control_textbox"] .form-input-wide,
  [data-type="control_textarea"] .form-input-wide,
  [data-type="control_fullname"] .form-input-wide,
  [data-type="control_phone"] .form-input-wide,
  [data-type="control_datetime"] .form-input-wide,
  [data-type="control_address"] .form-input-wide,
  [data-type="control_email"] .form-input-wide,
  [data-type="control_passwordbox"] .form-input-wide,
  [data-type="control_autocomp"] .form-input-wide {
    width: 100%;
    max-width: 380px;
  }

  [data-type="control_fullname"] .form-sub-label-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
    margin-right: 0;
    float: left;
  }

  [data-type="control_fullname"] .form-sub-label-container:first-child {
    margin-right: 4%;
  }

  [data-type="control_phone"] .form-sub-label-container {
    width: 62.5%;
    margin-left: 2.5%;
    margin-right: 0;
    float: left;
    position: relative;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child {
    width: 32.5%;
    margin-right: 2.5%;
    margin-left: 0;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child [data-component=areaCode] {
    width: 93%;
    float: left;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child [data-component=areaCode]~.form-sub-label {
    display: inline-block;
  }

  [data-type="control_phone"] .form-sub-label-container:first-child .phone-separate {
    position: absolute;
    top: 0;
    right: -16%;
    width: 24%;
    text-align: center;
    text-indent: -4px;
  }

  [data-type="control_phone"] .form-sub-label-container .date-separate {
    visibility: hidden;
  }

  .form-matrix-table {
    width: 100%;
    max-width: 380px;
  }

  .form-address-table {
    width: 100%;
    max-width: 380px;
  }

  .form-address-table td .form-dropdown {
    width: 100%;
  }

  .form-address-table td .form-sub-label-container {
    width: 96%;
  }

  .form-address-table td:last-child .form-sub-label-container {
    margin-left: 4%;
  }

  .form-address-table td[colspan="2"] .form-sub-label-container {
    width: 100%;
    margin: 0;
  }

  .form-dropdown {
    border-width: 1px;
    border-style: groove;
    border-color: #1b1c4e;
    color: #1b1c4e;
    background-color: rgba(248, 248, 248, 0);
    -webkit-appearance: menulist-button;
    height: 30px;
  }

  [data-type="control_dropdown"] .form-input,
  [data-type="control_birthdate"] .form-input,
  [data-type="control_time"] .form-input,
  [data-type="control_dropdown"] .form-input-wide,
  [data-type="control_birthdate"] .form-input-wide,
  [data-type="control_time"] .form-input-wide {
    width: 100%;
    max-width: 380px;
  }

  [data-type="control_dropdown"] .form-dropdown {
    width: 100% !important;
    max-width: 380px;
  }

  [data-type="control_birthdate"] .form-sub-label-container {
    width: 22%;
    margin-right: 3%;
  }

  [data-type="control_birthdate"] .form-sub-label-container:first-child {
    width: 50%;
  }

  [data-type="control_birthdate"] .form-sub-label-container:last-child {
    margin-right: 0;
  }

  [data-type="control_birthdate"] .form-sub-label-container .form-dropdown {
    width: 100%;
  }

  .form-dropdown {
    margin: 0;
    border-color: #a6a6a6;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    appearance: menulist !important;
    border-width: 1px;
  }

  .form-buttons-wrapper {
    margin-left: 0 !important;
    text-align: center;
  }

  .form-label {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .form-label {
    font-family: "Roboto", sans-serif;
  }

  li[data-type="control_image"] div {
    text-align: left;
  }

  li[data-type="control_image"] img {
    border: none;
    border-width: 0px !important;
    border-style: solid !important;
    border-color: false !important;
  }

  .form-line-column {
    width: auto;
  }

  .form-line-error {
    overflow: hidden;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: #fff4f4;
  }

  .form-line-error .form-error-message {
    background-color: #e35757;
    clear: both;
    float: none;
  }

  .form-line-error .form-error-message .form-error-arrow {
    border-bottom-color: #e35757;
  }

  .form-line-error input:not(#coupon-input),
  .form-line-error textarea,
  .form-line-error .form-validation-error {
    border: 1px solid #e35757;
    -webkit-box-shadow: 0 0 3px #e35757;
    -moz-box-shadow: 0 0 3px #e35757;
    box-shadow: 0 0 3px #e35757;
  }

  .ie-8 .form-all {
    margin-top: auto;
    margin-top: initial;
  }

  .ie-8 .form-all:before {
    display: none;
  }

  [data-type="control_clear"] {
    display: none;
  }

  /* | */
  @media screen and (max-width: 480px),
  screen and (max-device-width: 767px) and (orientation: portrait),
  screen and (max-device-width: 415px) and (orientation: landscape) {
    .testOne {
      letter-spacing: 0;
    }

    .form-all {
      border: 0;
      max-width: initial;
    }

    .form-sub-label-container {
      width: 100%;
      margin: 0;
      margin-right: 0;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    span.form-sub-label-container+span.form-sub-label-container {
      margin-right: 0;
    }

    .form-sub-label {
      white-space: normal;
    }

    .form-address-table td,
    .form-address-table th {
      padding: 0 1px 10px;
    }

    .form-submit-button,
    .form-submit-print,
    .form-submit-reset {
      width: 100%;
      margin-left: 0 !important;
    }

    div[id*=at_] {
      font-size: 14px;
      font-weight: 700;
      height: 8px;
      margin-top: 6px;
    }

    .showAutoCalendar {
      width: 20px;
    }

    img.form-image {
      max-width: 100%;
      height: auto;
    }

    .form-matrix-row-headers {
      width: 100%;
      word-break: break-all;
      min-width: 80px;
    }

    .form-collapse-table,
    .form-header-group {
      margin: 0;
    }

    .form-collapse-table {
      height: 100%;
      display: inline-block;
      width: 100%;
    }

    .form-collapse-hidden {
      display: none !important;
    }

    .form-input {
      width: 100%;
    }

    .form-label {
      width: 100% !important;
    }

    .form-label-left,
    .form-label-right {
      display: block;
      float: none;
      text-align: left;
      width: auto !important;
    }

    .form-line,
    .form-line.form-line-column {
      padding: 2% 5%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
      width: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      max-width: initial !important;
    }

    .form-radio-other-input,
    .form-checkbox-other-input {
      max-width: 55% !important;
    }

    .form-dropdown,
    .form-textarea,
    .form-textbox {
      width: 100% !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .form-input,
    .form-input-wide,
    .form-textarea,
    .form-textbox,
    .form-dropdown {
      max-width: initial !important;
    }

    .form-checkbox-item:not(#foo),
    .form-radio-item:not(#foo) {
      width: 100%;
    }

    .form-address-city,
    .form-address-line,
    .form-address-postal,
    .form-address-state,
    .form-address-table,
    .form-address-table .form-sub-label-container,
    .form-address-table select,
    .form-input {
      width: 100%;
    }

    div.form-header-group {
      padding: 0px 36px !important;
      padding-left: 5% !important;
      padding-right: 5% !important;
      margin: 0 0px 2% !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    div.form-header-group.hasImage img {
      max-width: 100%;
    }

    [data-type="control_button"] {
      margin-bottom: 0 !important;
    }

    [data-type=control_fullname] .form-sub-label-container {
      width: 48%;
    }

    [data-type=control_fullname] .form-sub-label-container:first-child {
      margin-right: 4%;
    }

    [data-type=control_phone] .form-sub-label-container {
      width: 65%;
      margin-right: 0;
      margin-left: 0;
      float: left;
    }

    [data-type=control_phone] .form-sub-label-container:first-child {
      width: 31%;
      margin-right: 4%;
    }

    [data-type=control_datetime] .allowTime-container {
      width: 100%;
    }

    [data-type=control_datetime] .form-sub-label-container:first-child {
      width: 10% !important;
      margin-left: 0;
      margin-right: 0;
    }

    [data-type=control_datetime] .form-sub-label-container+.form-sub-label-container {
      width: 24% !important;
      margin-left: 6%;
      margin-right: 0;
    }

    [data-type=control_datetime] span+span+span>span:first-child {
      display: block;
      width: 100% !important;
    }

    [data-type=control_birthdate] .form-sub-label-container,
    [data-type=control_time] .form-sub-label-container {
      width: 27.3% !important;
      margin-right: 6% !important;
    }

    [data-type=control_time] .form-sub-label-container:last-child {
      width: 33.3% !important;
      margin-right: 0 !important;
    }

    .form-pagebreak-back-container,
    .form-pagebreak-next-container {
      min-height: 1px;
      width: 50% !important;
    }

    .form-pagebreak-back,
    .form-pagebreak-next,
    .form-product-item.hover-product-item {
      width: 100%;
    }

    .form-pagebreak-back-container {
      padding: 0;
      text-align: right;
    }

    .form-pagebreak-next-container {
      padding: 0;
      text-align: left;
    }

    .form-pagebreak {
      margin: 0 auto;
    }

    .form-buttons-wrapper {
      margin: 0 !important;
      margin-left: 0 !important;
    }

    .form-buttons-wrapper button {
      width: 100%;
    }

    .form-buttons-wrapper .form-submit-print {
      margin: 0 !important;
    }

    table {
      width: 100% !important;
      max-width: initial !important;
    }

    table td+td {
      padding-left: 3%;
    }

    .form-checkbox-item,
    .form-radio-item {
      white-space: normal !important;
    }

    .form-checkbox-item input,
    .form-radio-item input {
      width: auto;
    }

    .form-collapse-table {
      margin: 0 5%;
      display: block;
      zoom: 1;
      width: auto;
    }

    .form-collapse-table:before,
    .form-collapse-table:after {
      display: table;
      content: '';
      line-height: 0;
    }

    .form-collapse-table:after {
      clear: both;
    }

    .fb-like-box {
      width: 98% !important;
    }

    .form-error-message {
      clear: both;
      bottom: -10px;
    }

    .date-separate,
    .phone-separate {
      display: none;
    }

    .custom-field-frame,
    .direct-embed-widgets,
    .signature-pad-wrapper {
      width: 100% !important;
    }
  }

  /* | */
  /*__INSPECT_SEPERATOR__*/
  .form-dropdown {
    width: 95%;
  }

  .form-input {
    width: 100%;
  }

  .form-sub-label {
    margin-top: 5px;
    font-weight: bold;
  }

  .form-label.form-label-left {
    width: 100%;
  }

  .form-line {
    width: 100%;
  }

  .form-sub-label-container {
    margin-top: 10px;
  }

  /* Injected CSS Code */
</style>
<link type="text/css" rel="stylesheet"
      href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_blue.css?3.3.13842" />
<form class="jotform-form"
      action="https://submit.jotformeu.com/submit/93162826827364/" method="post"
      enctype="multipart/form-data" name="form_93162826827364" id="93162826827364"
      accept-charset="utf-8"> <input type="hidden" name="formID"
         value="93162826827364" /> <input type="hidden" id="JWTContainer"
         value="" /> <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div style="display:table;width:100%">
          <div class="form-header-group hasImage">
            <div class="header-logo"> <img
                   src="https://www.jotform.com/uploads/graphite.portraits.by.samantha/form_files/send-mail.5dcbfb24350390.03331318.png"
                   alt="" width="200" class="header-logo-left" /> </div>
            <div class="header-text httar htvam">
              <h2 id="header_1" class="form-header" data-component="header"> Contact
                Me </h2>
              <div id="subHeader_1" class="form-subHeader"> Please upload photo(s)
                that I can use as references to produce your image. </div>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_3"> <label
               class="form-label form-label-top form-label-auto" id="label_3"
               for="first_3"> Name </label>
        <div id="cid_3" class="form-input-wide">
          <div data-wrapper-react="true"> <span class="form-sub-label-container "
                  style="vertical-align:top"> <input type="text" id="first_3"
                     name="q3_name[first]" class="form-textbox" size="10" value=""
                     data-component="first"
                     aria-labelledby="label_3 sublabel_3_first" /> <label
                     class="form-sub-label" for="first_3" id="sublabel_3_first"
                     style="min-height:13px"> First Name </label> </span> <span
                  class="form-sub-label-container " style="vertical-align:top">
              <input type="text" id="last_3" name="q3_name[last]"
                     class="form-textbox" size="15" value="" data-component="last"
                     aria-labelledby="label_3 sublabel_3_last" /> <label
                     class="form-sub-label" for="last_3" id="sublabel_3_last"
                     style="min-height:13px"> Last Name </label> </span> </div>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_25">
        <div id="cid_25" class="form-input-wide">
          <div data-component="divider"
               style="border-bottom:1.4px dashed #060324;height:1.4px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px">
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_email" id="id_4"> <label
               class="form-label form-label-top form-label-auto" id="label_4"
               for="input_4"> E-mail </label>
        <div id="cid_4" class="form-input-wide"> <input type="email" id="input_4"
                 name="q4_email4" class="form-textbox validate[Email]" size="30"
                 value="" placeholder="ex: myname@example.com"
                 data-component="email" aria-labelledby="label_4" /> </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_26">
        <div id="cid_26" class="form-input-wide">
          <div data-component="divider"
               style="border-bottom:1.4px dashed #060324;height:1.4px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px">
          </div>
        </div>
      </li>
      <ul class="form-section-closed" style="height: 60px;clear:both;"
          id="section_24">
        <li id="cid_24" class="form-input-wide" data-type="control_collapse">
          <div class="form-collapse-table" id="collapse_24"
               data-component="collapse"> <span class="form-collapse-mid"
                  id="collapse-text_24"> Customise your request below: </span> <span
                  class="form-collapse-right form-collapse-right-hide"> </span>
          </div>
        </li>
        <li class="form-line" data-type="control_divider" id="id_27">
          <div id="cid_27" class="form-input-wide">
            <div data-component="divider"
                 style="border-bottom:1.4px dashed #060324;height:1.4px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px">
            </div>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_dropdown" id="id_9">
          <label class="form-label form-label-top form-label-auto" id="label_9"
                 for="input_9"> What size would you like? <span
                  class="form-required"> * </span> </label>
          <div id="cid_9" class="form-input-wide jf-required"> <span
                  class="form-sub-label-container " style="vertical-align:top">
              <select class="form-dropdown validate[required]" id="input_9"
                      name="q9_whatSize" style="width:150px"
                      data-component="dropdown" required=""
                      aria-labelledby="label_9 sublabel_input_9">
                <option value=""> </option>
                <option value="A4"> A4 </option>
                <option value="A3"> A3 </option>
                <option value="A2"> A2 </option>
              </select> <label class="form-sub-label" for="input_9"
                     id="sublabel_input_9" style="min-height:13px"> See Prices page
                for size details. </label> </span> </div>
        </li>
        <li class="form-line jf-required" data-type="control_dropdown" id="id_10">
          <label class="form-label form-label-top form-label-auto" id="label_10"
                 for="input_10"> Would you like your image produced in Graphite,
            Colour, or Both? <span class="form-required"> * </span> </label>
          <div id="cid_10" class="form-input-wide jf-required"> <select
                    class="form-dropdown validate[required]" id="input_10"
                    name="q10_wouldYou" style="width:150px"
                    data-component="dropdown" required=""
                    aria-labelledby="label_10">
              <option value=""> </option>
              <option value="Graphite Only"> Graphite Only </option>
              <option value="Colour Only"> Colour Only </option>
              <option value="Both"> Both </option>
            </select> </div>
        </li>
        <li class="form-line jf-required" data-type="control_dropdown" id="id_11">
          <label class="form-label form-label-top form-label-auto" id="label_11"
                 for="input_11"> Would you prefer your image to be Flat or Rolled?
            <span class="form-required"> * </span> </label>
          <div id="cid_11" class="form-input-wide jf-required"> <span
                  class="form-sub-label-container " style="vertical-align:top">
              <select class="form-dropdown validate[required]" id="input_11"
                      name="q11_wouldYou11" style="width:150px"
                      data-component="dropdown" required=""
                      aria-labelledby="label_11 sublabel_input_11">
                <option value=""> </option>
                <option value="Flat"> Flat </option>
                <option value="Rolled"> Rolled </option>
              </select> <label class="form-sub-label" for="input_11"
                     id="sublabel_input_11" style="min-height:13px"> For Delivery
                Purposes Only </label> </span> </div>
        </li>
        <li class="form-line" data-type="control_divider" id="id_28">
          <div id="cid_28" class="form-input-wide">
            <div data-component="divider"
                 style="border-bottom:1.4px dashed #060324;height:1.4px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px">
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_datetime" id="id_8"> <label
                 class="form-label form-label-top form-label-auto" id="label_8"
                 for="lite_mode_8"> Is there a date you require this to be
            completed? </label>
          <div id="cid_8" class="form-input-wide">
            <div data-wrapper-react="true">
              <div style="display:none"> <span class="form-sub-label-container "
                      style="vertical-align:top"> <input type="tel"
                         class="form-textbox validate[disallowPast, limitDate]"
                         id="month_8" name="q8_isThere[month]" size="2"
                         data-maxlength="2" value=""
                         aria-labelledby="label_8 sublabel_8_month" /> <span
                        class="date-separate" aria-hidden="true"> / </span> <label
                         class="form-sub-label" for="month_8" id="sublabel_8_month"
                         style="min-height:13px"> Month </label> </span> <span
                      class="form-sub-label-container " style="vertical-align:top">
                  <input type="tel"
                         class="form-textbox validate[disallowPast, limitDate]"
                         id="day_8" name="q8_isThere[day]" size="2"
                         data-maxlength="2" value=""
                         aria-labelledby="label_8 sublabel_8_day" /> <span
                        class="date-separate" aria-hidden="true"> / </span> <label
                         class="form-sub-label" for="day_8" id="sublabel_8_day"
                         style="min-height:13px"> Day </label> </span> <span
                      class="form-sub-label-container " style="vertical-align:top">
                  <input type="tel"
                         class="form-textbox validate[disallowPast, limitDate]"
                         id="year_8" name="q8_isThere[year]" size="4"
                         data-maxlength="4" value=""
                         aria-labelledby="label_8 sublabel_8_year" /> <label
                         class="form-sub-label" for="year_8" id="sublabel_8_year"
                         style="min-height:13px"> Year </label> </span> </div> <span
                    class="form-sub-label-container " style="vertical-align:top">
                <input type="text"
                       class="form-textbox validate[disallowPast, limitDate, validateLiteDate]"
                       id="lite_mode_8" size="12" data-maxlength="12" data-age=""
                       value="" data-format="mmddyyyy" data-seperator="/"
                       placeholder="mm/dd/yyyy"
                       aria-labelledby="label_8 sublabel_8_litemode" /> <img
                     class="showAutoCalendar" alt="Pick a Date" id="input_8_pick"
                     src="https://cdn.jotfor.ms/images/calendar.png"
                     style="vertical-align:middle;margin-left:5px"
                     data-component="datetime" aria-hidden="true" /> <label
                       class="form-sub-label" for="lite_mode_8"
                       id="sublabel_8_litemode" style="min-height:13px"> Choose a
                  date (if required) </label> </span> <span
                    class="form-sub-label-container " style="vertical-align:top">
                <label class="form-sub-label" for="input_8_pick"
                       style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap">
                  Date Picker Icon </label> </span>
            </div>
          </div>
        </li>
        <li class="form-line" data-type="control_divider" id="id_29">
          <div id="cid_29" class="form-input-wide">
            <div data-component="divider"
                 style="border-bottom:1.4px dashed #060324;height:1.4px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px">
            </div>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_fileupload" id="id_5">
          <label class="form-label form-label-top form-label-auto" id="label_5"
                 for="input_5"> Upload Photo <span class="form-required"> * </span>
          </label>
          <div id="cid_5" class="form-input-wide jf-required">
            <div data-wrapper-react="true"> <span class="form-sub-label-container "
                    style="vertical-align:top">
                <div class="qq-uploader-buttonText-value"> Upload your Photo(s)
                </div> <input type="file" id="input_5" name="q5_uploadPhoto[]"
                       multiple=""
                       class="form-submit-button-simple_blue form-upload-multiple validate[required]"
                       data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif"
                       data-file-maxsize="10240" data-file-minsize="0"
                       data-file-limit="3" data-component="fileupload"
                       required="" /> <label class="form-sub-label" for="input_5"
                       style="min-height:13px"> Add your image(s) to be used as
                  references </label>
              </span> <span style="display:none" class="cancelText"> Cancel </span>
              <span style="display:none" class="ofText"> of </span> </div>
          </div>
        </li>
        <li class="form-line" data-type="control_textarea" id="id_6"> <label
                 class="form-label form-label-top form-label-auto" id="label_6"
                 for="input_6"> Comments </label>
          <div id="cid_6" class="form-input-wide">
            <div class="form-textarea-limit"> <span> <textarea id="input_6"
                          class="form-textarea validate[Alphabetic]"
                          name="q6_comments6" cols="40" rows="6"
                          data-component="textarea"></textarea>
                <div class="form-textarea-limit-indicator"> <label for="input_6"
                         style="float:left" id="sublabel_input_6"> Anything else,
                    just ask! </label> <span data-limit="6000" type="Words"
                        data-minimum="-1" data-typeminimum="Words"
                        id="input_6-limit"> 0/6000 </span> </div> </span> </div>
          </div>
        </li>
        <li class="form-line" data-type="control_divider" id="id_30">
          <div id="cid_30" class="form-input-wide">
            <div data-component="divider"
                 style="border-bottom:1.4px dashed #060324;height:1.4px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px">
            </div>
          </div>
        </li>
        <li class="form-line form-line-column form-col-1 always-hidden jf-required"
            data-type="control_captcha" id="id_13"> <label
                 class="form-label form-label-top" id="label_13" for="input_13">
            Please verify that you are human <span class="form-required"> * </span>
          </label>
          <div id="cid_13" class="form-input-wide always-hidden jf-required">
            <section data-wrapper-react="true" data-invisible-captcha="true">
              <div id="recaptcha_input_13" data-component="recaptcha"
                   data-callback="recaptchaCallbackinput_13" data-size="invisible"
                   data-badge="inline"
                   data-expired-callback="recaptchaExpiredCallbackinput_13"> </div>
              <input type="hidden" id="input_13" class="hidden "
                     name="recaptcha_invisible" required="" />
              <script type="text/javascript"
                      src="https://www.google.com/recaptcha/api.js?render=explicit&amp;onload=recaptchaLoadedinput_13">
              </script>
              <script type="text/javascript">
                var recaptchaLoadedinput_13 = function() {
                  window.grecaptcha.render($("recaptcha_input_13"), {
                    sitekey: '6LcG3CgUAAAAAGOEEqiYhmrAm6mt3BDRhTrxWCKb',
                  });
                  var grecaptchaBadge = document.querySelector(
                    '.grecaptcha-badge');
                  if (grecaptchaBadge) {
                    grecaptchaBadge.style.boxShadow = 'gray 0px 0px 2px';
                  }
                }; /** * Called when the reCaptcha verifies the user is human * For invisible reCaptcha; * Submit event is stopped after validations and recaptcha is executed. * If a challenge is not displayed, this will be called right after grecaptcha.execute() * If a challenge is displayed, this will be called when the challenge is solved successfully * Submit is triggered to actually submit the form since it is stopped before. */
                var recaptchaCallbackinput_13 = function() {
                  var isInvisibleReCaptcha = true;
                  var hiddenInput = $("input_13");
                  hiddenInput.setValue(1);
                  if (!isInvisibleReCaptcha) {
                    if (hiddenInput.validateInput) {
                      hiddenInput.validateInput();
                    }
                  } else {
                    triggerSubmit(hiddenInput.form)
                  }

                  function triggerSubmit(formElement) {
                    var button = formElement.ownerDocument.createElement('input');
                    button.style.display = 'none';
                    button.type = 'submit';
                    formElement.appendChild(button).click();
                    formElement.removeChild(button);
                  }
                } // not really required for invisible recaptcha var recaptchaExpiredCallbackinput_13 = function() { var hiddenInput = $("input_13"); hiddenInput.writeAttribute("value", false); if (hiddenInput.validateInput) { hiddenInput.validateInput(); } }
              </script>
            </section>
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_14">
          <div id="cid_14" class="form-input-wide">
            <div style="text-align:right" class="form-buttons-wrapper "> <button
                      id="input_14" type="submit"
                      class="form-submit-button form-submit-button-simple_blue"
                      data-component="button"> SUBMIT FORM </button> <span> </span>
              <button id="input_reset_14" type="reset"
                      class="form-submit-reset form-submit-button-simple_blue"
                      data-component="button"> RESET </button> </div>
          </div>
        </li>
        <li style="display:none"> Should be Empty: <input type="text" name="website"
                 value="" /> </li>
      </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script> <input type="hidden" id="simple_spc" name="simple_spc"
         value="93162826827364" />
  <script type="text/javascript">
    document.getElementById("si" + "mple" + "_spc").value =
      "93162826827364-93162826827364";
  </script>
  <div class="formFooter-heightMask"> </div>
  <div class="formFooter f6"> <a
       href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=93162826827364&utm_content=jotform_logo&utm_campaign=bf2019"
       target="_blank" class="formFooter-logoLink"><img class="formFooter-logo"
           src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png" alt=""
           style="height: 44px;"></a>
    <div class="formFooter-rightSide"> <span class="formFooter-text"> Now create
        your own JotForm - It's free! </span> <a class="formFooter-button"
         href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=93162826827364&utm_content=jotform_button&utm_campaign=bf2019"
         target="_blank">Create your own JotForm</a> </div>
  </div>
</form>
<script type="text/javascript">
  JotForm.forwardToEu = true;
</script>
