<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>

<form class="goBack" action="/gallery" method="GET">
  <button class="btn btn-link btn-transparent" type="submit" name="button">Go Back</button>
</form><br>
<h1>The Dog Gallery</h1>
<hr>
<div class="col-container">
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/dogs/commission-nero.jpg" alt="Black Labrador">
    <div class="card-body">
      <h2 class="card-title">Nero</h2>
      <p class="card-text">Graphite on A3 commission of a Black Labrador named Nero.</p>
    </div>
  </div>
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/dogs/English-Setter.png" alt="English Setter">
    <div class="card-body">
      <h2 class="card-title">English Setter</h2>
      <p class="card-text">Graphite on A3 of an English Setter.</p>
    </div>
  </div>
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/dogs/doberman.jpg" alt="Doberman">
    <div class="card-body">
      <h2 class="card-title">Doberman</h2>
      <p class="card-text">Graphite on A3 of a Doberman.</p>
    </div>
  </div>
</div>
<div class="col-container">
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/dogs/commission-shepherd-2.jpg" alt="White German shepherd">
    <div class="card-body">
      <h2 class="card-title">White German Shepherd</h2>
      <p class="card-text">Graphite on A4 commission of a white German Shepherd.</p>
    </div>
  </div>
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/dogs/terrier.jpg" alt="Terrier">
    <div class="card-body">
      <h2 class="card-title">Terrier</h2>
      <p class="card-text">Graphite on A4 of a Terrier.</p>
    </div>
  </div>
  <div class="col">
    <img class="card-img-top img-fluid" src="/images/dogs/commission-german-shepherd.jpg" alt="German Shepherd">
    <div class="card-body">
      <h2 class="card-title">German Shepherd</h2>
      <p class="card-text">Graphite on A3 of a German Shepherd.</p>
    </div>
  </div>
</div>
  <div class="col-container">
    <div class="col">
      <img class="card-img-top img-fluid" src="/images/dogs/commission-corgi.jpg" alt="Corgi">
      <div class="card-body">
        <h2 class="card-title">Corgi</h2>
        <p class="card-text">Graphite on A4 commission of a Corgi.</p>
      </div>
    </div>
    <div class="col">
      <img class="card-img-top img-fluid" src="/images/dogs/fox-terrier.jpg" alt="Fox Terrier">
      <div class="card-body">
        <h2 class="card-title">Fox Terrier</h2>
        <p class="card-text">Graphite on A3 of a Fox Terrier.</p>
      </div>
    </div>
    <div class="col">
      <img class="card-img-top img-fluid" src="/images/dogs/Husky-close-up.jpg" alt="Husky Close Up">
      <div class="card-body">
        <h2 class="card-title">Husky Eyes</h2>
        <p class="card-text">Graphite on A4 close up of a Husky's eyes.</p>
      </div>
    </div>
  </div>
    <div class="col-container">
      <div class="col">
        <img class="card-img-top img-fluid" src="/images/dogs/lab-puppy.jpg" alt="Golden Labrador Puppy">
        <div class="card-body">
          <h2 class="card-title">Golden Labrador Puppy</h2>
          <p class="card-text">Graphite on A4 sketch of a puppy.</p>
        </div>
      </div>
      <div class="col">
        <img class="card-img-top img-fluid" src="/images/dogs/sabe-and-sash.jpg" alt="Malamutes">
        <div class="card-body">
          <h2 class="card-title">Sabe & Sash</h2>
          <p class="card-text">Graphite & colour pencils on A3 of two Alaskan Malamutes.</p>
        </div>
      </div>
  </div>
  <% include ./include/scripts %>
        <% include ./include/footer %>
</body>
</html>
