<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/nav %>


<h1>Pricing & Delivery</h1>
<br>

<div class="priceList">
    <h5>Sizes & Prices</h5>
    <img class="icon" src="/images/pencil-icon.png"/><p>A4 (smallest) - 210mm x 297mm (8.3 x 11.7") = £40</p>
    <img class="icon" src="/images/pencil-icon.png"/><p>A3 (regular) - 297mm x 420mm (11.7 x 16.5") = £70</p>
    <img class="icon" src="/images/pencil-icon.png"/><p>A2 (large) - 420mm x 594mm (16.5 x 23.4") = £130</p>

</div>
<br>
<div class="priceInfo">

  <h5>Postage and Packaging</h5><img class="icon" src="/images/pencil-icon.png"/><p>Postage and Packaging (included in price) will be secure and be sent via Special Delivery within the UK only.</p><br>
  <h5>Framing</h5><img class="icon" src="/images/pencil-icon.png"/><p>I prefer not to frame my work as this makes posting much more expensive, plus more likely to become damaged en route.</p><br>
  <h5>Flat or Rolled</h5><img class="icon" src="/images/pencil-icon.png"/><p>A4 and A3 sizes can be posted flat or rolled in a tube. A2 can be posted in rolled form only.</p><br>
  <h5>Thank You!</h5><img class="icon" src="/images/pencil-icon.png"/><p>Thanks for considering me, and I hope to be able to recreate your favourite photograph, to be cherished for many years to come.</p><br>
  </div>

  <% include ./include/scripts %>
        <% include ./include/footer %>
</body>
</html>
